/*===============================================
2. Common Style
 ===============================================*/
 .section-title {
  font-size: 4em;
  text-transform: capitalize;
  color: $brand-black;
  font-weight: 800;
  @media #{$small_device} {
    font-size: 3em;
  }
}

.sub-title {
  font-size: 30px;
  margin-bottom: 25px;
  color: $brand-black;
  font-weight: 800;
}

.step-wrap button {
  border: none;

  &:focus {
    outline: none;
  }
}

.custom-btn {
  display: inline-block;
  padding: 15px 100px;
  text-align: center;
  color: $brand-white;
  font-size: 18px;
  background: linear-gradient(180deg, #9419DF 0%, #4B19DA 100%);
  border-radius: 15px;
  @media #{$small_device} {
    padding: 15px 85px;
  }
  &.black-btn{
    background: linear-gradient(180deg, #1C1C1C 0%, #1C1C1C 100%);
  }
  &:hover,
  &:focus,
  &:visited {
    color: $brand-white;
  }


}