// Template Base

/* ======================================
1.2 FONTS FOR THEME
========================================*/

body {
  font-family: $font;
  background: linear-gradient(228.48deg, #f2ec3b 20.3%, #80f9c0 96.91%);
  color: $color;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 800;
}
a {
  color: $color;
  @include transition;
  &:focus,
  &:hover {
    text-decoration: none;
    @include transition;
    color: $color;
  }
}



input,
textarea {
  color: $color;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e0e1e5;
  background: $brand-white;
  &:focus{
    outline: 0 none;
  }
}

img,
figure {
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
  vertical-align: middle;
}
